# Ignore build files, since Make is run directly in checked out area
*.o
*.a
*.dSYM
block-array
flat-file
index-performance
memcd-index
simple-array
simple-xrd
query-xrd
rocksdb-index
# Ignore CSV files produced by running test jobs locally
*.csv
# Ignore some common cruft files
*.bak
*.log
*~
